<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<app-category></app-category>
<br />
<div class="mb-3">
  <label for="filterText" class="form-label">Ürün Ara</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="Arama ifadesi giriniz"
  />
</div>
<div *ngIf="filterText.length > 2" class="alert alert-secondary">
  {{ filterText }} aradınız
</div>

<div class="row justify-content-around">
  <div
    class="card p-3"
    *ngFor="let product of products | productFilter : filterText"
  >
    <div class="d-flex">
      <div class="mt-2">
        <div class="mt-5">
          <br />
          <h1 class="main-heading mt-0">
            {{ product.unitPrice | vatAdded : 18 | currency }}
          </h1>
        </div>
      </div>
      <div>
        <app-product-image-for-base-grid
          [currentProductIdFromParent]="product.productId"
        ></app-product-image-for-base-grid>
      </div>
    </div>
    <strong
      ><p>{{ product.productName }}</p></strong
    >
    <button (click)="addToCart(product)" type="button" class="btn btn-success">
      Sepete ekle
    </button>
  </div>
</div>
