body{
    background-color:#dce3f0;
}

.card{
    width:200px;
    height:240px;
    overflow:unset;
}

.main-heading{
    font-size:30px;
    color:red !important;
}

.btn{
    position:absolute;
    right:50px;
    bottom:10px;
}
